* {
    margin: 0;
}

html, body {
    height: 100%;
}

figure {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    gap:10px;
    place-content: center;
    grid-auto-flow: 200px;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;    
}
    
figure img:first-child {
    grid-column: span 2;
}

figure img:nth-child(2) {
    grid-row: span 2;
}

figure img:nth-child(6) {
    grid-column: span 2;
    grid-row: 3/5 ;
}

figure img:last-of-type {    
    grid-column: span 2;
}

img:hover {
    opacity: 0.75;
    border: 2px solid red;
}
