* {
    margin: 0;
}

html, body {
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;


}

.row {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);

}

.col-4 {
    grid-column: span 4;

}

.col-6 {
    grid-column: span 6;

}

.col-3 {
    grid-column: span 3;
}

.col-12 {
    grid-column: span 12;
}